[submodule "client"]
	path = client
	url = https://github.com/grandleemon/nest-next-test-app-client
[submodule "server"]
	path = server
	url = https://github.com/grandleemon/nest-next-test-app-server
